

a{
  color: inherit;
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
} */

 body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
}

/* #root{
  border: 3px solid red;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
} */

.app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}

nav {
  padding: 0 1rem;
  height: 9rem;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

nav a {
  justify-self: center;

}

h4 {
  font-size: 4rem;
  margin: 0;
}

.nav-light {
  background-color: #F7F7F7;
  color: black;
}
.nav-dark {
  background-color: black;
  color: white;
}

.nav-home .nav-link {
display: none;
}

#nav-link-home {
  width: 100%;
  grid-column: 1/3;
}

#nav-link-code {
  font-weight: bold;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
}

#nav-link-code.selected {
  border-top: 1px solid black;
  color: black;
}

#nav-link-drums {
  font-weight: bold;
  padding-top: 1rem;
  width: 100%;
  color: black;
  text-align: center;
}

#nav-link-drums.selected {
 border-top: 1px solid white;
 color: white;
}



.drums-page{
  background-color: black;
  color: white;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  justify-self: center;
  display: grid;

}

.code-page{
    background-color: #F7F7F7;
    color: black;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 4rem;
    display: grid;
    grid-gap: 2rem;
}

.about{
  margin-top: 2rem;
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1rem;
}
.about img {
  width: 100%;
  height: auto;
}

.about-body {
  width: 100%;
}
.about-body h4 {
  margin-top: -1rem;
}

@media only screen and (max-width: 600px)  {
  .coding-about {
    grid-template-columns: 1fr;
  }
}



.albums-grid{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  grid-gap: 1rem;
}

.albums-grid img {
  width: 100%;
  height: auto;
}

/* .banner-image {
  width: 100%;
  max-width: 100vw;
  height: auto;
  margin-top: 2rem;
} */




.press-container {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  justify-items: center;

}

.press-card {
  width: 100%;
  max-width: 50rem;
  justify-self: center;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
}

.press-card p {
  text-align: center;
  width: 100%;
}

.press-card svg {
  font-size: 2rem;
}

.press-card a {
  grid-column: 1/4;
  text-align: center;
}

.quote-left {
  justify-self: right;
}

.social-links {
  font-size: 1.5rem;
  display: inline-flex;

}

.resume-link {
  text-decoration: underline;
  font-weight: bold;
}



/* .social-bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-self: center;
}

.social-bar a {
  font-size: 2rem;
} */




.sign-up-form h4 {

  width: 100%;

}

.sign-up-form form {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  grid-gap: 1rem;

}

.sign-up-form button {
  background-color: black;
  border-style: none;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  padding: .25rem;
}

.sign-up-form input {
  border-style: none;
  background-color: #00000000;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1rem;
}

footer{
  height: 10rem;
  background-color: black;
  color: white;
  display: grid;
  align-items: center;

}

.home-page{
height: 60vh;
font-weight: bold;
display: grid;
grid-template-columns:repeat(auto-fit, 20rem);
justify-content: center;
align-items: center;
}
.home-page a {
font-size: 2rem;

}



.projects-grid{
  margin-top: 2rem;
  justify-self: center;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;


}
 h5 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
 }
.project-card {
  background-color: white;
 
}

.container{
  width: 95%;
  justify-self: center;


}

.project-card h5, a, p {
  margin: .5rem;
  justify-self: center;
}

.project-card p {
  min-height: 8rem;
}

.project-card a {
  font-size: 1.5rem;
  margin: 1rem;
}

.website-image{
  width: 100%;
  height: auto;
  justify-self: center;
}

.website-image:hover {
  cursor: pointer;
}

.languages-grid{
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.languages-grid * {
  font-size: .6rem;
  height: .7rem;
  font-weight: bold;
  background-color: black;
  color: white;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;



}

.logo {
  height: 1.5rem;
  width: auto;
  margin: .5rem;
  font-size: 1.5rem;
}


.technical-skills{
  padding-bottom: 5rem;
}


.technical-skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-content: center;

  margin-top: 1rem;
}
.technical-skills-grid p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



